/* Table Container */
.health-records-container {
    overflow-x: auto; 
    margin: 0 auto;
    max-width: 100%; 
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
/* Search Bar */
.search-bar {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 150px; 
}

.search-bar button {
    padding: 8px 16px;
    background-color: #49d283;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 100px; 
}

.search-bar button:hover {
    background-color: #0aa74b;
}
.health-records-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    font-size: 14px; 
}

.health-records-table th, .health-records-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    word-wrap: break-word;
}

.health-records-table th {
    background-color: #f4f4f4;
}

/* Responsive Table */
@media (max-width: 768px) {
    .health-records-table th,
    .health-records-table td {
        padding: 8px; 
        font-size: 12px; 
    }
}

.detail-button {
    padding: 6px 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.detail-button:hover {
    background-color: #095f98;
}

/* Nội dung chính */
.content {
    flex: 1; 
    padding: 20px; 
    overflow-y: auto; 
    transition: margin-left 0.3s ease; 
    margin-left: 250px; 
}

.content.full-width {
    margin-left: 0; 
}